* {
   box-sizing: border-box;
}
body {
   font-size: 1em;
   letter-spacing: .15em;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
}


#headerWrapper {
   margin-bottom: 30px;
}
.clearfix {
   clear: both;
}
#banner {
   padding: 15px;
   background-color: #2E353B;
   text-align: center;
   font-size: 2.5em;
   text-transform: uppercase;
   color: #5FCF80;
   line-height: 1.1em;
}
#developers {
   width: 50%;
   float: left;
   padding: 10px;
   background-color: #25ced1;
   color: whitesmoke;
   text-align: center;
   font-size: .9em;
   color: #D5DCF9;
   font-weight: normal;
}
.team {
   width: 50%;
   float: left;
   padding: 10px;
   background-color: #596869;
   color: whitesmoke;
   text-align: center;
   font-size: .9em;
   letter-spacing: .1em;
   font-weight: lighter;
   transition: all 2s ease-in-out 0s;
   -webkit-transition: background-color all 2s ease-in-out 0s;
   -moz-transition: background-color all 2s ease-in-out 0s;
   -o-transition: background-color all 2s ease-in-out 0s;
}
.team:hover {
   background: #25ced1;
   color: whitesmoke;
}


.user {
   background: tomato;
}





.nameDiv {
}

.nameDiv h1 {


}







.badgesDiv {
}





recBadgesDiv {
}

img {
   width: 25%;
   padding: 5px;
   transition: all 0.2s ease-in-out 0s;
}
img:hover {
   transform: scale(1.1);
}
