body {
  font-family: "Roboto", sans-serif;
}

h1 {
  /*text-align: center;*/
  text-decoration: underline;
}

img {
  width: auto;
  max-width: 130px;
  margin: 5px;
}

div {
  max-width: 1000px;
  width: 80%;
  align: center;
  align-items: center;
  border: 5px solid DarkGray;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
}

.invisible {
  display: none;
}

.header {
  border: none;
  padding: 5px;
  height: 100px;
}

.wrapper {
  width: 20%;
  float: left;
  /*max-width: 130px;*/
}

.recommended {
  background-color: red;
}
